<<<<<<< HEAD
<table>
<% (0..4).each do |row| %>
					<tr>
					<% (0..4).each do |colume| %>
					<% if @card[row][colume] !=0 %>
						<td id = <%= "#{@card[row][colume]}" %>><%= form_tag({controller: "player", action: "checkNumber"},remote: true, method: "get") do%>
    <%= hidden_field_tag(:row, row) %>
    <%= hidden_field_tag(:colume, colume) %>
    <%= hidden_field_tag(:number, @card[row][colume]) %>
    <%= submit_tag(@card[row][colume]) %>
  	<% end %></td>	
					<% else %>
						<td id = "free"><%= @card[row][colume]%></td>
					<%end%>
					
  <% end %></tr>
<% end %>
</table>	
<div id="response"></div>
<%= button_to "",  { action: "reach" }, { :remote => true,:method => "get", :disabled => true, :id => 'reach' , :onclick => "reachOnclick();"} 
 %>
<%= button_to "",  { action: "bingo" }, { :remote => true,:method => "get", :disabled => true , :id => 'bingo', :onclick => "bingoOnclick();" } 
 %>
=======
<% if session[:player_name] %>
<div style="text-align: center;">
  <h2>Good luck!!! <strong style="color: green;"><%= session[:player_name] %></strong> !</h2>
  <div class="table-responsive">
  <table class="table table-hover table-bordered table-condensed">
  <% (0..4).each do |row| %>
    <tr>
    <% (0..4).each do |column| %>
      <% if @card[row][column] != 0 %>
        <td>
        <%= form_tag({controller: "player", action: "check_number"}, remote: true, method: "get", id: "form-number") do %>
          <%= hidden_field_tag(:row, row) %>
          <%= hidden_field_tag(:column, column) %>
          <%= hidden_field_tag(:number, @card[row][column]) %>
          <%= submit_tag(@card[row][column], id: "#{@card[row][column]}", class: "btn-number") %>
        <% end %>
        </td>  
      <% else %>
        <td><div id="form-number"><button id = "free">FREE</button></div></td>
      <%end%>
    <% end %>
    </tr>
  <% end %>
  </table>
  </div>

  <div id="response"></div>
  
  <%= button_to "REACH", { action: "reach" }, { remote: true, method: "get", disabled: true, class: "btn btn-primary btn-lg btn-block", id: 'reach', onclick: "reachOnclick();"} %><br>
  <%= button_to "BINGO", { action: "bingo" }, { remote: true, method: "get", disabled: true, class: "btn btn-primary btn-lg btn-block", id: 'bingo', onclick: "bingoOnclick();" } %>
</div>
<% else %>
  <script type="text/javascript">
    window.location.href="/player/login";
  </script>
<% end %>
>>>>>>> 91c8f6a49e2723a5dd087a169d44fdc30bbdc486
