<% if session[:player_name] %>
<div style="text-align: center;">
  <h2>Good luck!!! <strong style="color: green;"><%= session[:player_name] %></strong> !</h2>
  <div class="table-responsive">
  <table class="table table-hover table-bordered table-condensed">
  <% (0..4).each do |row| %>
    <tr>
    <% (0..4).each do |column| %>
      <% if @card[row][column] != 0 && @card_status[row][column] == 0 %>
        <td>
        <%= form_tag({controller: "player", action: "check_number"}, remote: true, method: "get", id: "form-number") do %>
          <%= hidden_field_tag(:row, row) %>
          <%= hidden_field_tag(:column, column) %>
          <%= hidden_field_tag(:number, @card[row][column]) %>
          <%= submit_tag(@card[row][column], id: "#{@card[row][column]}", class: "btn-number") %>
        <% end %>
        </td>  
      <% else %>
        <td><div id="form-number"><button id = "free"><%= @card[row][column] %></button></div></td>
      <%end%>
    <% end %>
    </tr>
  <% end %>
  </table>
  </div>

  <div id="response"></div>
  <audio id="sound" src="/assets/bingo.wav" preload="auto"></audio>
  <%= button_to "REACH", { action: "reach" }, { remote: true, method: "get", disabled: true, class: "btn btn-primary btn-lg btn-block", id: 'reach', onclick: "reachOnclick();"} %><br>
  <%= button_to "BINGO", { action: "bingo" }, { remote: true, method: "get", disabled: true, class: "btn btn-primary btn-lg btn-block", id: 'bingo', onclick: "bingoOnclick();" } %>
</div>
<div><h5>Dealer speaked number</h5></div><br>
<div id="speaked_number">
<% @speaked_number.each do |element| %>
  <%= element.number %>
  <% end %>
</div>
<% else %>
  <script type="text/javascript">
    window.location.href="/player/login";
  </script>
<% end %>