<%= form_for(@player, url: { action: 'add' }) do |f| %>
  <div id="login_failed">
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>
      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.submit "Go" %>
<% end %>