<% if @player.errors.any? %>
  <div id="login_failed">
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>
      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div style="text-align: center; margin-top: 30px;">
<%= form_for(@player, url: { action: 'add' }, id: "form-login") do |f| %>
  <%= f.label "Input your name to play game" %><br><br>
  <%= f.text_field :name, class: "form-control", placeholder: "Your name here..." %> <br><br>
  <%= f.submit "Go", class: "btn btn-success btn-lg" %>
<% end %>
</div>